In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({"name": ["pikachu", "charmander", "bulbasaur", "arceus", "mewtwo", "sceptile"], "happiness": [50, 99, 43, 0, 95, 69]})
df1

         name  happiness
0     pikachu         50
1  charmander         99
2   bulbasaur         43
3      arceus          0
4      mewtwo         95
5    sceptile         69

In [3]:
df2 = df1.query("happiness>=50")
df2

         name  happiness
0     pikachu         50
1  charmander         99
4      mewtwo         95
5    sceptile         69